:root {
    --paino-height: 4rem;
    --paino-white-key-width: 1.2rem;
    --paino-black-key-width: 0.8rem;
    --paino-black-key-height: 60%;
    --paino-border-color: rgba(0, 0, 0, 0.4);
    --piano-white-key-color: white;
    --piano-black-key-color: rgb(35, 35, 35);
    --paino-white-key-highlight-color: dodgerblue;
    --paino-black-key-highlight-color: dodgerblue;
    --paino-white-key-left-hand-highlight-color: lightcoral;
    --paino-black-key-left-hand-highlight-color: lightcoral;
    --paino-white-key-soprano-highlight-color: dodgerblue;
    --paino-black-key-soprano-highlight-color: dodgerblue;
    --paino-white-key-alto-highlight-color: gold;
    --paino-black-key-alto-highlight-color: gold;
    --paino-white-key-tenor-highlight-color: lightgreen;
    --paino-black-key-tenor-highlight-color: lightgreen;
    --paino-white-key-bass-highlight-color: lightcoral;
    --paino-black-key-bass-highlight-color: lightcoral;
}

.paino {
    height: var(--paino-height);
    width: fit-content;
    border: 1px solid var(--paino-border-color);
    display: flex;
    overflow-x: auto;
}

.paino .key:not(:last-child) {
    border-right: 1px solid var(--paino-border-color);
}

.paino .key.color-white {
    width: var(--paino-white-key-width);
    background-color: var(--piano-white-key-color);
}

.paino .key.color-black {
    background-color: var(--piano-black-key-color);
    height: var(--paino-black-key-height);
    width: var(--paino-black-key-width);
    margin: 0 0 0 calc(var(--paino-black-key-width) / -2);
    z-index: 1;
    border-bottom: 1px solid var(--paino-border-color);
    border-left: 1px solid var(--paino-border-color);
    border-right: 1px solid var(--paino-border-color);
}

.paino .key.color-white:nth-of-type(12n + 3),
.paino .key.color-white:nth-of-type(12n + 5),
.paino .key.color-white:nth-of-type(12n + 8),
.paino .key.color-white:nth-of-type(12n + 10),
.paino .key.color-white:nth-of-type(12n + 12) {
    margin: 0 0 0 calc(var(--paino-black-key-width) / -2);
}

.paino .key.color-white.key-on {
    background-color: var(--paino-white-key-highlight-color);
}

.paino .key.color-black.key-on {
    background-color: var(--paino-black-key-highlight-color);
}

.paino .key.color-white.key-on.left {
    background-color: var(--paino-white-key-left-hand-highlight-color);
}

.paino .key.color-black.key-on.left {
    background-color: var(--paino-black-key-left-hand-highlight-color);
}

.paino .key.color-white.key-on.soprano {
    background-color: var(--paino-white-key-soprano-highlight-color);
}

.paino .key.color-black.key-on.soprano {
    background-color: var(--paino-black-key-soprano-highlight-color);
}

.paino .key.color-white.key-on.alto {
    background-color: var(--paino-white-key-alto-highlight-color);
}

.paino .key.color-black.key-on.alto {
    background-color: var(--paino-black-key-alto-highlight-color);
}

.paino .key.color-white.key-on.tenor {
    background-color: var(--paino-white-key-tenor-highlight-color);
}

.paino .key.color-black.key-on.tenor {
    background-color: var(--paino-black-key-tenor-highlight-color);
}

.paino .key.color-white.key-on.bass {
    background-color: var(--paino-white-key-bass-highlight-color);
}

.paino .key.color-black.key-on.bass {
    background-color: var(--paino-black-key-bass-highlight-color);
}